:root {
  --brand-color: #ff9800;
}
.snip-layout .snip-header,
.snip-layout .snip-header__total,
.snip-layout .snip-footer {
  background: var(--brand-color);
}
.snip-layout .snip-btn {
  background-color: #757575;
  border-radius: 3px;
  border: 1px solid #fff;
}
.snip-layout .snip-btn:hover {
  background-color: #424242;
}
.snip-layout .snip-btn--highlight {
  background: #05c40e;
  color: white !important;
  text-shadow: #333 0.5px 0.5px 5px;
}
.snip-layout .snip-btn--highlight:hover {
  background: #045c08;
}
